<h1>Species#edit</h1>
<p>Find me in app/views/species/edit.html.erb</p>



<form action = "/species/update" method = "patch">
  <input type = 'text' name = 'itemid' placeholder="Call Item"/>
  <input type = 'text' name = 'change' placeholder="Change Item"/>
  <br/>
  </br>
  <br>
  </br/>
  <input type = 'submit' value = 'Professional Update Button 5000'/>
  </form>
